*{
    margin: 0;
    padding: 0;
 }

/* formatação do texto input */ 
input[type=text]  {
margin-top: 5px;
padding: 12px 20px;
/*margin: 8px 0;*/
display: inline-block; 

border-radius:  20px;
border-style: outset;

}


/* formatação do botão cadastrar*/
button[type=button]:hover {
background-color: #45a049;

}
button {
padding: 0px;
height: 70px;
width: 87%;
color: #000;
margin-top: 1%;
margin-left: 0px;
border-radius:  20px;
border-style: outset;
}
/*formatação rua e número*/

div .r-usuario,  div .t-usuario {
border-radius: none;
background-color: #f2f2f2;
padding: 20px;
margin-left: 4.5%; 
border-radius:  20px;
border-style: outset;

}

div .r-usuario ,div .cid-usuario{
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px; 
border-radius:  20px;
border-style: outset;
}
/* formatação  cidade e estado*/
div .cid-usuario{
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px; 
margin-left: 6%; 
border-radius:  20px;
border-style: outset;
}
/* Formatação nome completo*/
div .n-usuario{
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px; 
border-radius:  20px;
border-style: outset; 

}
/*formatação telefone e email*/
div.t-usuario{
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px; 
border-radius:  20px;
border-style: outset;  
} 
/*formatação do LABELS */
label{
font-size: 17px;
 
}
/*formatação das tabelas, colunas (nome,rua,numero,estado.cidade,telefone,email)*/
table,th,td  {
margin-top: 3%;
margin-left: 0;
width: 900px  ;   
height: 50px;

text-align: center; 
border-radius:  20px;
border-style: outset;

}
/*Formatação do Comentário */
textarea{
margin-top: 1%;
margin-left: 25px;
height: 70px;
width: 76%;
border-radius:  20px;
border-style: outset;

}

